body {
    font-family: 'Heebo', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

/* Section */

.heading {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    z-index: 999999999999 !important;
}

.heading-content {
    position: relative;
    top: 80px;
}

/* Text */

h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
}

p {
    position: relative;
    top: -20px;
    font-size: 20px;
    font-weight: 300;
}

a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px black solid;
}

a:hover {
   transition: 0.35s all ease;
   background-color: black;
   color: white;
   border: 0px;   
}

/* Images */

.logo {
    position: relative;
    right: 0;
    left: -30px;
    margin: 0 auto !important;
    height: 200px;
}

@media only screen and (max-width: 650px) {
    .logo {
      position: relative;
      display: block;
      margin: 0 auto;
      left: 0;
      right: 0;
    }

    a {
        text-align: center;
    }

    .heading {
        margin-bottom:  250px;
    }
  }
  
  /* Videos */

  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: 0 !important;
  }

.video-overlay {
    position: fixed;
    opacity: 1;
    z-index: 20 !important;
    height: 100vh;
    width: 100%;
    top: 0;
    margin: 0 auto;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,1));
}